
# Hugo default output directory
/public

node_modules/
.sass-cache/

# Populated during build processes
/static/img
/static/css
/src/stylesheets

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store